<nav class="bg-gray-500 py-4">
    <div class="container mx-auto flex items-center justify-between px-4">
        <a href="/" class="text-white text-xl font-bold">Code-Blog</a>
        <div class="hidden md:flex md:items-center md:space-x-4">
            <a href="/home" class="text-blue-200 hover:text-white">Home</a>
            <a href="/api/v1/blog" class="text-blue-200 hover:text-white">Blog</a>
            <a href="/about" class="text-blue-200 hover:text-white">About</a>
            <a href="/contact" class="text-blue-200 hover:text-white">Contact</a>
        </div>

        <div class="hidden md:flex md:items-center md:space-x-4">
            <% if (!isLoggedIn) { %>
                <a href="/api/v1/users/login" class="text-blue-200 hover:text-white">Log In</a>
            <% } else { %>
                <div class="flex items-center space-x-4">
                    <a href="/api/v1/users/profile" class="text-blue-200 hover:text-white">Profile</a>
                    <form action="/api/v1/users/logout" method="POST">
                        <button type="submit" class="text-blue-200 hover:text-white">Log Out</button>
                    </form>
                </div>
            <% } %>
        </div>
        
        
        <div class="md:hidden">
            <button id="mobile-menu-button" class="text-white">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </div>

    <div id="mobile-menu" class="md:hidden hidden">
        <div class="px-2 pt-2 pb-3 space-y-1 sm:px-3">
            <a href="/home" class="text-blue-200 hover:text-white block">Home</a>
            <a href="/api/v1/blog" class="text-blue-200 hover:text-white block">Blog</a>
            <a href="/about" class="text-blue-200 hover:text-white block">About</a>
            <a href="/contact" class="text-blue-200 hover:text-white block">Contact</a>
            <% if (isLoggedIn) { %>
                <a href="/api/v1/users/profile" class="text-blue-200 hover:text-white block">Profile</a>
            <% } %>
            <% if (!isLoggedIn) { %>
                <a href="/api/v1/users/login" class="text-blue-200 hover:text-white block">Log In</a>
            <% } else { %>
                <form action="/api/v1/users/logout" method="POST">
                    <button type="submit" class="text-blue-200 hover:text-white block">Log Out</button>
                </form>
            <% } %>
        </div>
    </div>
</nav>




<script>
    document.getElementById('mobile-menu-button').addEventListener('click', function() {
        const menu = document.getElementById('mobile-menu');
        menu.classList.toggle('hidden');
    });
</script>

